*, *::before, *::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #CBBEAB;
  overflow: hidden;
}

@media screen and (min-width: 720px) {
  body {
    background-color: white;
  }
}

a {
  color: #FCFCFC;
  text-decoration: none;
}

.cta {
  color: #FFF;
  display: block;
  border-radius: 23px;
  padding: 0.9rem 1.5rem !important;
  background-color: #CBBEAB;
  width: 100px;
  text-align: center;
}

.main-navbar {
  position: relative;
  height: 71px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 720px) {
  .main-navbar {
    position: static;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.main-navbar * {
  z-index: 99;
}

.main-navbar .overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  z-index: 10;
  background-color: #2A361F;
  width: 80%;
  border-bottom-right-radius: 80px;
  height: 71px;
}

.main-navbar .nav-left {
  width: 10%;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (min-width: 720px) {
  .main-navbar .nav-left {
    background-color: transparent;
  }
}

.main-navbar .nav-left .logo {
  padding: 0.9rem;
}

.main-navbar .nav-left .logo img {
  height: 2.5rem;
}

@media screen and (min-width: 720px) {
  .main-navbar .nav-left .logo {
    width: auto;
    max-height: 100%;
  }
}

.main-navbar .nav-menu {
  list-style: none;
  padding: 0.9rem;
  background-color: #2A361F;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  border-radius: 40px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  display: block;
  padding-top: 3rem;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transform-origin: right;
          transform-origin: right;
  opacity: .1;
  -webkit-transition: opacity 250ms linear, -webkit-transform 250ms ease-out;
  transition: opacity 250ms linear, -webkit-transform 250ms ease-out;
  transition: opacity 250ms linear, transform 250ms ease-out;
  transition: opacity 250ms linear, transform 250ms ease-out, -webkit-transform 250ms ease-out;
  width: 70%;
  height: 70vh;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.1rem;
}

@media screen and (min-width: 720px) {
  .main-navbar .nav-menu {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: unset;
    padding-top: 0.9rem;
    -webkit-transform: unset;
            transform: unset;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0 1.5rem;
    opacity: 1;
  }
  .main-navbar .nav-menu li:first-child a {
    padding-left: 0;
  }
}

.main-navbar .nav-menu.show {
  display: block;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.main-navbar .nav-menu a {
  display: block;
  padding: 0.9rem 1.5rem;
}

@media screen and (min-width: 720px) {
  .main-navbar .nav-menu a {
    padding: 0.9rem;
  }
}

.main-navbar .cta_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  padding: 0.9rem;
}

@media screen and (min-width: 720px) {
  .main-navbar .cta_wrapper {
    width: 20%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.main-navbar .cta_wrapper .cta {
  margin: 0 auto;
}

@media screen and (min-width: 720px) {
  .main-navbar .cta_wrapper .cta {
    right: 10px;
    top: 10px;
    margin: 0;
  }
}

.main-navbar .cta_wrapper .burger-icon {
  display: block;
  background-color: transparent;
  background-image: url("../../img-books/burger-menu.svg");
  background-size: 100%;
  background-position: center center;
  border: none;
  outline: none;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  right: 20px;
  top: 4px;
  cursor: pointer;
  z-index: 999;
}

@media screen and (min-width: 720px) {
  .main-navbar .cta_wrapper .burger-icon {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */