.authors {
    
    width: 80%;
    margin: 0 auto;
    .cta {
        background-color: $dark_color;
        width: auto;
    }
    .form {
        .form-fild {
            width: 28%;
        }
    }
}