*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: $background;
    // overflow: hidden;
}

a {
    color: $main_color;
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.cta {
    color: #FFF;
    display: block;
    border: none;
    outline: none;
    border-radius: $border_radius_lg;
    padding: $spacing_sm $spacing_md !important;
    background-color: $background;
    width: 100px;
    text-align: center;
}

.separation {
    min-height: 60px;
    margin:  $spacing_lg auto;
    background-color: $dark_color;
    border-radius: $border_radius_lg;
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
        color: #FFF;
        text-align: center;
    }
}

.form {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    .form-fild {
        display: flex;
        align-items: center;
        justify-content: space-between;
        label {
            display: block;
        }
        input, .file, select{
            width: 80%;
            padding: $spacing_sm;
            border-radius: $border_radius;
            outline: none;
            border:1px solid rgba(black, .6);
        }
        .file {
            position: relative;
            overflow: hidden;
            background-color: #FFF;
            padding: 0;
            display: flex;
            justify-content: flex-end;
            height: 49px;
            .placeholder {
                width: 45%;
                padding: $spacing_sm;
                background-color: $dark_color;
                color: #fff;
                position: relative;
                z-index: 9;
                line-height: 24.5px;
            }
            input[type="file"] {
                opacity: 0;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 10;
                cursor: pointer;
            }
        }
    }
}

.table {
    background-color: #fff;
    border-radius: $border_radius_lg;
    margin: $spacing_md 0;
    padding: $spacing_lg 0;
    display: flex;
    justify-content: center;
    align-items: center;
    table {
        // border-collapse: separate;
        border-spacing: 5px;
        td {
            &:not(:last-child) {
                border-radius: $border_radius_lg;
            }
            
            .cta {
                background-color: $background;
                display: inline-block;
            }
        }
        td:not(:last-child),th:not(:last-child) {
            background-color: $background;
            box-sizing: content-box;
            padding: $spacing_xs $spacing_md;
            width: 120px;
        }
        th {
            background-color: $background;
            border-radius: $border_radius !important;
        }
        td:last-child {
            text-align: center;
        }
        td, th {
            &:first-child {
                padding: 0;
                width: 70px;
            }
        }
    }
}