$border_radius_nav_rigtht_bottom: 80px;
$nav_height: 71px;
.main-navbar {
    position: relative;
    height: $nav_height;
    display: flex;
    align-items: center;
    background-color: #fff;
    @include mq($md) {
        position: static;
        justify-content: space-between;
    }
    * {
        z-index: 99;
    }
    .overlay {
        @include overlay;
        z-index: 10;
        background-color: $dark_color;
        width: 80%;
        border-bottom-right-radius: $border_radius_nav_rigtht_bottom;
        height: $nav_height;
    }
    .nav-left {
        width: 10%;
        position: relative;
        flex: 1;
        @include mq($md) {
            background-color: transparent;
        }
        .logo {
            padding: $spacing_sm;
            img {
                height: $spacing_lg;
            }
            @include mq($md) {
                width: auto;
                max-height: 100%;
            }
        }
    }

    .nav-menu {
        list-style: none;
        padding: $spacing_sm;
        background-color: $dark_color;
        box-shadow: $box_shadow;
        border-radius: 40px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        display: block;
        padding: {
            top: $spacing_xl;
        };
         transform: scaleX(0);
        transform-origin: right;
        opacity: .1;
        transition: opacity 250ms linear, transform 250ms ease-out;
        transition-delay: 20ms;
        width: 70%;
        height: 70vh;
        position: absolute;
        right: 0;
        top: 0;
        font-size: 1.1rem;
        
        @include mq($md) {
            position: static;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: unset;
            padding-top: $spacing_sm;
            transform: unset;
            background-color: transparent;
            box-shadow: none;
            padding: 0 $spacing_md;
            opacity: 1;
            li:first-child {
                a {
                    padding-left: 0;
                }
            }
        }
        &.show {
            display: block;
            opacity: 1;
            transform: scaleX(100%);
        }
        a {
            display: block;
            padding: $spacing_sm $spacing_md;
            @include mq($md) {
                padding: $spacing_sm;
            }
        }
    }

    .cta_wrapper {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 60%;
        padding: $spacing_sm;
        @include mq($md) {
            width: 20%;
            justify-content: center;
        }
        .cta {
            margin: 0 auto;
            @include mq($md) {
                right: 10px;
                top: 10px;
                margin: 0;
            }
        }
        .burger-icon {
            display: block;
            background: {
                color: transparent;
                image: url("../../img-books/burger-menu.svg");
                size: 100%;
                position: center center;
            };
            border: none;
            outline: none;
            $size: 50px;
            width: $size;
            height: $size;
            background-repeat: no-repeat;
            // right: -$size - 20px;
            right: 20px;
            top: 4px;
            cursor: pointer;
            z-index: 999;
            @include mq($md) {
                display: none;
            }
    }
    }

 
}