// Color
$dark_color: #2A361F;
$main_color: #FCFCFC;
$background: #CBBEAB;

//Spacing 
$spacing_xs: .6rem;
$spacing_sm: .9rem;
$spacing_md: 1.5rem;
$spacing_lg: 2.5rem;
$spacing_xl: 3rem;

// Media query sizes
$md: 720px;
$lg: 980px;
$xl: 1200px;

// 
$box_shadow: 0 5px 20px rgba(black, .15);
$border_radius: 4px;
$border_radius_lg: 23px;